<header>

  <nav>
     <div class="nav-wrapper">
       <a href="#" class="navLogo brand-logo">MoviesApp</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/">Home</a></li>
         <li><a href="/movies">Movies</a></li>
         <li><a href="/directors">Directors</a></li>
       </ul>
     </div>
   </nav>


</header>
