<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

     <a href="/directors/new">Add a new Director</a>

          <% directors.forEach(function(director) {%>
     <div>
         <%=director.name%><a href="<%=`/directors/${director.id}`%>">View Director's Page</a>
     </div>
      </br>
   <% }); %>
  </body>
</html>
