<!DOCTYPE html>
<html>

  <% include ../partials/head2.ejs %>

  <% include ../partials/header.ejs %>

  <body>

  <h1><%= title %></h1>
   <div class="wrapper">
        <div>
          <% directors.forEach(function(director) {%>
                  <div>
                      <h4><%=director.name%></h4>
                      <a class="waves-effect waves-light blue btn" href="<%=`/directors/${director.id}`%>">View Director's Page</a>
                  </div>
                  </br>
           <% }); %>
          </div>
   </div>

    <div class="midbutton">
       <a class="newButton waves-effect waves-light blue btn" href="/directors/new">Add a new Director</a>
    </div>

  </body>
</html>
