<!DOCTYPE html>
<html lang="en">
<% include ../partials/head2.ejs %>
<% include ../partials/header.ejs %>

<body>
     <div class="container">
          <h1><%= title %> </h1>

        <form action="/directors" method="POST">
            <label>Name:</label><input type="text" name="name">
            <button type="submit">Save</button>
        </form>

     </div>



</body>
</html>
