// variables
html {
  box-sizing: border-box;
}

.movies, .wrapper {
  border: 3px black solid;
  width: 60%;
  background-color: rgba(0, 0, 0, .9);
  box-shadow: 5px 5px #888888;
  text-align:center;
  margin: 0 auto;
  height: 300px;
  overflow: scroll;
}

.movies>div {
  font-size:1.5em;
  /*margin:20px 0px;*/
  margin: 0 auto;
  position: relative;
  width: 80%;
  // height:100px;
}

.wrapper>div {
  font-size:1.5em;
  margin: 0 auto;
  position: relative;
  width: 80%;
  // height:100px;
}

.newButton {
  position:relative;
  margin-top:100px;
}

h1 {
  text-align:center;
}

.align {
  text-align:center;
}

.midbutton{
  width:250px;
  margin:0 auto;
}

 body, html{
  min-height: 50%;
  height: 50%;
 }


 body {
  margin: 0;
  color: #ececec;
  line-height: 2;
  background-image: url('../images/3dscreen.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
