<html>
  <body>

    <main>
      <div class="container">
        <div>
          <h1><%= movies.title %></h1>
          <p><%= movies.synopsis %></p>

        </div>
        <form action="<%=`/movies/${movies.id}?_method=DELETE` %>" method="POST">
          <button>Delete</button>
        </form>
        <a href="/auth/logout">LOG OUT</a>
      </div>
    </main>

  </body>
</html>
