
<html>
  <body>
    <% include ../partials/head.ejs %>
    <% include ../partials/header.ejs %>
    <main>

        <h1>Create a new user</h1>
        <form action="/" method="POST">
          <label>
            Title
            <input name="title" />
          </label>
          <label>
            Synopsis
          <input name="synopsis" />
          </label>
          <button class="newButton waves-effect waves-light blue btn">Submit</button>
        </form>

    </main>

  </body>
</html>
