
<html>
  <body>

    <main>
      <div class="container">
        <h1>Create a new user</h1>
        <form action="/" method="POST">
          <label>
            Title
            <input name="title" />
          </label>
          <label>
            Synopsis
          <input name="synopsis" />
          </label>
          <button>Submit</button>
        </form>

    </main>

  </body>
</html>
